<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Stream</th>
    </tr>
    <tr>
        <td>Wikilambda</td>
        <td>Instrument for Wikilambda</td>
        <td>wikilambda_ui</td>
    </tr>
    <tr>
        <td>Scroll</td>
        <td>Scroll Instrument</td>
        <td>wikiscroll_ui</td>
    </tr>
</table>
